@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia.Models.Post

@{
    Layout = "_Layout";
}

<h1>Create Blog Post</h1>

<fieldset>
    <form asp-action="Create" asp-controller="Blog">
        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
        <p>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Blog Post Title"/>
            <span asp-validation-for="Title"></span>
        </p>
        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="Blog Post Content"></textarea>
            <span asp-validation-for="Body"></span>
        </p>
        <p>
            <button type="submit">Create Post</button>
        </p>
    </form>
</fieldset>
