﻿@model ExploreCalifornia.Models.Post[]

@{
    Layout = "_Layout";
}

<h1>Explorer's Blog</h1>

<p>
    Below are a few of the latest posts from some of our explorers.
</p>

<p class="pager">
    @if (ViewBag.HasPreviousPage)
    {
        <a class="prev" href="@Url.Action("Index", "Blog", new { page = ViewBag.PreviousPage })">
            &lt; Previous
        </a>
    }
    
    @if (ViewBag.HasNextPage)
    {
        <a class="next" href="@Url.Action("Index", "Blog", new { page = ViewBag.NextPage })">
            Next &gt;
        </a>
    }
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_Post", post);
    }
</div>