@addTagHelper *, ExploreCalifornia
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome to Explore California</title>
<meta name="description" content="A lynda.com example of HTML5 and CSS3">
<meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
<!--make sure mobile devices display the page at the proper scale	-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">
</head>
<body id="home" class="no-js">
<div id="wrapper">
  <header id="mainHeader"> <a href="/" title="home" class="logo">
   <!-- I need this div because IE is an affront to mankind-->
    <div>
    <h1>Explore California</h1>
    </div>
    </a>
    <nav id="siteNav">
      <h1>Where do you want to go?</h1>
      <ul>
       <li><a href="/tours.htm" title="Our tours">Tours <br /><span class="tagline">follow our bliss</span></a>
          <ul>
            <li><a href="/tours.htm" title="Our tours">All Tours</a></li>
            <li><a href="/tours.htm" title="find tours">Tours by Activity</a></li>
            <li><a href="/tours.htm" title="find tours">Tours by Region</a></li>
            <li><a href="/tours.htm" title="find tours">Tour Finder</a></li>
          </ul>
        </li>
        <li><a href="mission.htm" title="What we believe">Mission <br /><span class="tagline">what makes us different?</span></a></li>
        <li><a href="resources.htm" title="planning resources">Resources <br /><span class="tagline">plan your trip</span></a>
          <ul>
            <li><a href="resources/faq.htm" title="Got questions?">Tour FAQs</a></li>
            <li><a href="resources/additional_resources.htm" title="additional resources">Tour Information</a></li>
            <li><a href="resources/terms.htm" title="terms and conditions">Site Terms</a></li>
          </ul>
        </li>
        <li><a href="explorers.htm" title="Our community">Explorers <br /><span class="tagline">join our community</span></a>
          <ul>
            <li><a href="@Url.Action("Index", "Blog")" title="read our blog! :)">Read our Blog</a></li>
            <li><a href="explorers/gallery.htm" title="contributor photos">Tour Photos</a></li>
            <li><a href="_video/EC_podcast_full version.mov" title="check out our podcast">Video podcast</a></li>
          </ul>
        </li>
        <li><a href="contact.htm" title="contact us" class="last">Contact <br /><span class="tagline">we're listening</span></a>
          <ul>
            <li><a href="support.htm" title="need help?">Support</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <section id="actionCall">
    @if (IsSectionDefined("header"))
    {
      @await RenderSectionAsync("header", false)
    }
  </section>
  <div id="contentWrapper">
    <section id="mainContent">
      @RenderBody()
    </section>
    <aside id="secondaryContent">
      <div id="specials" class="callOut">
        <vc:monthly-specials />
        @* <h1>Monthly Specials</h1> *@
        @* <h2 class="top"><img src="/images/calm_bug.gif" alt="California Calm" width="75" height="75">California Calm</h2> *@
        @* <p> *@
        @*     Day Spa Package <br> *@
        @*     <a href="/tours/tour_detail_cycle.htm">$250</a> *@
        @* </p> *@
        @* <h2><img src="/images/desert_bug.gif" alt="From desert to sea" width="75" height="75">From Desert to Sea</h2> *@
        @* <p> *@
        @*     2 Day Salton Sea <br> *@
        @*     <a href="/tours/tour_detail_cycle.htm">$350</a> *@
        @* </p> *@
        @* <h2><img src="/images/backpack_bug.gif" alt="Backpack Cali" width="75" height="41">Backpack Cali</h2> *@
        @* <p> *@
        @*     Big Sur Retreat <br> *@
        @*     <a href="/tours/tour_detail_cycle.htm">$620</a> *@
        @* </p> *@
        @* <h2><img src="/images/taste_bug.gif" alt="Taste of California" width="75" height="75">Taste of California</h2> *@
        @* <p> *@
        @*     Tapas &amp; Groves <br> *@
        @*     <a href="/tours/tour_detail_taste.htm">$150</a> *@
        @* </p> *@
      </div>
        <div id="trivia" class="callOut">
            <h1>Did You Know?</h1>
            <p>California produces over 17 million gallons of wine each year!</p>
        </div>
    </aside>
  </div>
  <footer id="pageFooter">
  <section id="quickLinks">
  <h1>Quick Nav</h1>
    <ul id="quickNav">
      <li><a href="/" title="Our home page">Home</a></li>
      <li><a href="/tours.htm" title="Explore our tours">Tours</a></li>
      <li><a href="mission.htm" title="What we think">Mission</a></li>
      <li><a href="resources.htm" title="Guidance and planning">Resources</a></li>
      <li><a href="explorers.htm" title="Join our community">Explorers</a></li>
      <li><a href="contact.htm" title="Contact and support">Contact</a></li>
    </ul>
  </section>
  <section id="footerResources">
  <h1>Resources</h1>
  <ul id="quickNav">
    <li><a href="resources/faq.htm" title="Our home page">FAQ</a></li>
    <li><a href="support.htm" title="Need help?">Support</a></li>
    <li><a href="resources/legal.htm" title="The fine print">Legal</a></li><li><a href="login.htm">Login</a></li>
  </ul>
  <p>
    Copyright Chris Elbert @DateTime.Now.Year
  </p>
  </section>
  <section id="companyInfo">
  <h1>Contact</h1>
  <h2>Explore California</h2>
      <p>5605 Nota Street<br />
        Ventura, CA 93003</p>
      <p>866.555.4310<br />866.555.4315 <em>(24 hour support)</em></p>
  </section>
  </footer>
</div>
</body>
</html>
