﻿@inject FormattingService Format
@using ExploreCalifornia.Models
@model ExploreCalifornia.Models.Post


<article class="blog-post">
    <h1>
        @Html.ActionLink(Model.Title, "Post", "Blog", new { year = Model.Posted.Year, month = Model.Posted.Month, id = Model.Id })
    </h1>
    <div class="details">
        Posted <span>@Format.AsFormattedDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>